html {
    font-family: sans-serif;
    background-color: rgb(243, 238, 232);
    margin: 30px auto 0 50px;
}

h2{
    color: #4d4c4c;
}

strong {
    font-weight: bold;
    color:#4d4c4c ;
}

li{
    padding: 3px;
}